In [1]:
#importing libraries

from datascience import *
import pandas as pd
import numpy as np
import matplotlib

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

In [2]:
population = pd.read_csv('SD1970_population.csv', thousands=',')
housing = pd.read_csv('SD1970_housing.csv', thousands=',')

In [3]:
housing2 = housing[[
                    "Block group",
                    "Place Name",
                    "Total housing units",
                    "Total owner occupied real $ aggregate (total) value of housing units",
                    #"Total owner occupied average $ value of housing units",
                    #"Total renter occupied housing units aggregate (total) $ monthly contract rent",
                    #"Total renter occupied housing units average monthly contract rent",
                    "Total owner occupied housing units (includes White, Black and other races)",
                    "White owner occupied housing units head of household",
                    "Total renter occupied housing units (includes White, Black and other races)",
                    "White renter occupied housing units head of household",
                    "Occupied and vacant housing units 1 unit structure",
                    "Occupied and vacant housing units 2 or more unit structures",
                    "Rooms in total occupied and vacant year round housing units",
                    "Total occupied housing units 1.00 or less persons per room",
                    "Total occupied housing units 1.01-1.50 persons per room",
                    "Total occupied housing units 1.51 or more persons per room",
                    "Occupied and vacant housing units with direct access and complete kitchen facilities",
                    "Occupied and vacant housing units lacking direct access, with complete kitchen facilities",
                    "Occupied and vacant housing units with direct access, lacking complete kitchen facilities",
                    "Occupied and vacant housing units lacking both direct access and complete kitchen facilities",
                    "Total occupied and vacant housing units with all plumbing facilities",
                    "Total occupied and vacant housing units lacking one or more plumbing facilities"
]]

total_owner_avg = housing.iloc[:, 7]
total_renter_aggregate = housing.iloc[:, 10]
total_renter_avg = housing.iloc[:, 13]

housing2["Total owner occupied average $ value of housing units"] = total_owner_avg
housing2["Total owner occupied average $ value of housing units"] = total_renter_avg
housing2["Total renter occupied housing units aggregate (total) $ monthly contract rent"] = total_renter_aggregate

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [4]:
housing2 = housing2.rename(columns={
                                  "Block group": "Block",                                  
                                  "Place Name": "City", 
                                  "Total housing units": "number_of_houses", 
                                  "Total owner occupied real $ aggregate (total) value of housing units": "owner_occupied_aggregate_values",
                                  "Total owner occupied average $ value of housing units": "owner_occupied_average_values",
                                  "Total renter occupied housing units aggregate (total) $ monthly contract rent": "renter_occupied_aggregate_rents",
                                  "Total renter occupied housing units average monthly contract rent": "renter_occupied_average_rents",
                                  "Total owner occupied housing units (includes White, Black and other races)": "owner_occupied_houses",
                                  "White owner occupied housing units head of household": "white_owner_occupied_houses",
                                  "Total renter occupied housing units (includes White, Black and other races)": "renter_occupied_houses",
                                  "White renter occupied housing units head of household": "white_renter_rccupied_houses",
                                  "Occupied and vacant housing units 1 unit structure": "1_unit_structure_houses",
                                  "Occupied and vacant housing units 2 or more unit structures": "2+_unit_structure_houses",
                                  "Rooms in total occupied and vacant year round housing units": "year_round_room_totals",
                                  "Total occupied housing units 1.00 or less persons per room": "houses_with_<=1_people_per_room",
                                  "Total occupied housing units 1.01-1.50 persons per room": "houses_with_<=1.5_people_per_room",
                                  "Total occupied housing units 1.51 or more persons per room": "houses_with_>1.5_People_per_room",
                                  "Occupied and vacant housing units with direct access and complete kitchen facilities": "direct_access_w/_kitchen",
                                  "Occupied and vacant housing units lacking direct access, with complete kitchen facilities": "no_direct_access_w/_kitchen",
                                  "Occupied and vacant housing units with direct access, lacking complete kitchen facilities": "direct_access_w/o_kitchen",
                                  "Occupied and vacant housing units lacking both direct access and complete kitchen facilities": "do_direct_access_w/o_kitchen",
                                  "Total occupied and vacant housing units with all plumbing facilities": "houses_w/_plumbing",
                                  "Total occupied and vacant housing units lacking one or more plumbing facilities": "houses_w/o_plumbing"
                                })

In [5]:
#[x[1:] for x in housing2.owner_occupied_aggregate_values]
for column in housing2.columns:
    if housing2[column].dtype == str:
        housing2[column] = [x.strip('$') for x in housing2[column]]
        housing2[column] = [x.replace(',','') for x in housing2[column]]

housing2 = housing2.replace('...', np.NaN)

In [6]:
for column in housing2.columns:
    #col_name = column
    if housing2[column].dtype == str:
        housing2[column] = [x.replace(',','') for x in housing2[column]]
        housing2[column] = pd.to_numeric(housing2[column])
housing2

,Block,City,number_of_houses,owner_occupied_aggregate_values,owner_occupied_houses,white_owner_occupied_houses,renter_occupied_houses,white_renter_rccupied_houses,1_unit_structure_houses,2+_unit_structure_houses,...,houses_with_<=1.5_people_per_room,houses_with_>1.5_People_per_room,direct_access_w/_kitchen,no_direct_access_w/_kitchen,direct_access_w/o_kitchen,do_direct_access_w/o_kitchen,houses_w/_plumbing,houses_w/o_plumbing,owner_occupied_average_values,renter_occupied_aggregate_rents
0,1,San Diego,302,"$7,783,750.00",249,246,47,46,287,14,...,2,2,301,0,0,0,300,1,$155.00,"$6,970.00"
1,2,San Diego,234,"$5,720,000.00",200,198,23,23,219,14,...,8,2,232,0,1,0,233,0,$143.00,"$2,995.00"
2,3,San Diego,176,"$5,721,250.00",158,158,10,10,169,6,...,5,0,174,0,1,0,175,0,$120.00,$840.00
3,4,San Diego,159,"$5,633,750.00",127,126,30,29,151,8,...,4,0,159,0,0,0,159,0,$115.00,"$2,750.00"
4,5,San Diego,209,"$5,815,000.00",177,176,24,22,193,16,...,2,0,206,0,3,0,208,1,$158.00,"$3,155.00"
5,6,San Diego,174,"$6,342,500.00",159,159,10,10,171,3,...,1,0,174,0,0,0,173,1,$153.00,$765.00
6,9,San Diego,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,...
7,1,San Diego,477,"$7,281,250.00",265,264,196,196,368,109,...,6,3,473,0,4,0,476,1,$121.00,"$22,775.00"
8,2,San Diego,901,"$7,352,500.00",363,362,495,489,517,382,...,20,6,894,0,7,0,884,17,$122.00,"$59,635.00"
9,3,San Diego,649,"$5,787,500.00",242,241,378,370,348,301,...,16,8,645,1,3,0,638,11,$103.00,"$38,865.00"
10,4,San Diego,471,"$3,569,500.00",183,182,274,269,247,224,...,7,2,467,0,4,0,464,7,$125.00,"$33,860.00"
11,5,San Diego,222,"$1,985,000.00",100,98,110,109,134,88,...,3,2,220,0,2,0,219,3,$105.00,"$11,520.00"
12,8,San Diego,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,...
13,9,San Diego,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,...
14,1,San Diego,568,"$1,905,000.00",84,84,433,422,162,404,...,7,7,558,0,10,0,558,10,$104.00,"$43,265.00"
15,2,San Diego,257,"$308,750.00",21,21,220,211,55,202,...,1,3,254,0,3,0,251,6,$91.00,"$19,790.00"
16,3,San Diego,435,"$1,188,750.00",69,69,341,336,106,328,...,3,2,430,0,5,0,429,6,$116.00,"$38,900.00"
17,4,San Diego,886,"$2,915,000.00",182,178,658,649,295,589,...,11,4,880,0,5,0,880,5,$133.00,"$85,945.00"
18,1,San Diego,1190,"$3,573,500.00",190,185,811,782,396,793,...,12,10,"1,185",2,3,0,"1,185",5,$128.00,"$100,455.00"
19,2,San Diego,531,"$458,750.00",31,30,469,458,89,442,...,7,6,482,1,48,0,496,35,$102.00,"$46,825.00"
20,4,San Diego,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,...
21,5,San Diego,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,...
22,1,San Diego,419,"$5,048,750.00",185,184,221,216,260,159,...,3,3,416,1,2,0,418,1,$106.00,"$23,055.00"
23,2,San Diego,566,"$3,385,000.00",193,192,331,319,344,222,...,9,3,564,0,2,0,562,4,$111.00,"$35,985.00"
24,3,San Diego,374,"$1,656,000.00",103,101,238,235,242,132,...,7,0,368,0,6,0,371,3,$106.00,"$25,075.00"
25,1,San Diego,464,"$1,426,250.00",84,84,356,342,175,289,...,8,5,460,0,4,0,460,4,$107.00,"$37,505.00"
26,2,San Diego,438,"$1,918,750.00",121,121,291,286,195,243,...,6,3,434,0,4,0,432,6,$110.00,"$31,430.00"
27,3,San Diego,390,"$1,267,500.00",86,85,288,278,183,207,...,9,4,386,0,4,0,389,1,$105.00,"$29,145.00"
28,6,San Diego,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,...
29,1,San Diego,636,"$2,018,000.00",124,122,488,476,283,352,...,6,2,614,1,20,1,614,22,$105.00,"$50,945.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1234,9,Vista,214,"$3,060,000.00",156,153,50,50,213,1,...,13,7,214,0,0,0,214,0,$106.00,"$4,865.00"
1235,1,Vista,731,"$4,576,000.00",277,265,410,387,479,252,...,41,13,728,0,3,0,724,7,$110.00,"$44,415.00"
1236,2,Vista,44,NaN,4,4,35,35,36,8,...,1,4,44,0,0,0,44,0,$92.00,"$3,205.00"
1237,3,Vista,339,"$4,220,000.00",196,195,128,124,239,69,...,10,7,331,0,8,0,327,12,$116.00,"$13,770.00"
1238,4,Vista,803,"$3,967,250.00",479,475,290,284,439,111,...,45,30,799,0,3,0,792,10,$104.00,"$28,955.00"
1239,5,Vista,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,...
1240,1,Vista,632,"$7,185,000.00",357,355,255,254,300,205,...,6,4,630,0,1,0,629,2,$141.00,"$33,715.00"
1241,2,NaN,18,"$447,500.00",16,16,2,2,18,0,...,0,0,18,0,0,0,18,0,...,...
1242,2,Vista,779,"$13,441,250.00",499,495,250,248,581,198,...,16,3,778,0,1,0,776,3,$131.00,"$31,620.00"
1243,3,NaN,79,"$1,655,000.00",58,58,14,14,79,0,...,2,1,79,0,0,0,78,1,$125.00,"$1,245.00"
1244,3,NaN,82,"$1,546,250.00",58,58,20,20,74,8,...,1,1,82,0,0,0,82,0,$109.00,"$1,970.00"
1245,3,Vista,447,"$7,485,000.00",264,262,161,161,347,83,...,17,12,443,0,4,0,444,3,$110.00,"$17,245.00"
1246,9,Vista,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,...
1247,1,Vista,458,"$5,966,250.00",275,275,146,145,391,67,...,17,5,458,0,0,0,455,3,$128.00,"$18,130.00"
1248,2,NaN,48,"$648,750.00",32,31,15,15,45,1,...,0,4,45,0,2,0,45,2,$91.00,"$1,185.00"
1249,2,Vista,436,"$7,941,000.00",338,331,90,90,419,17,...,30,4,436,0,0,0,433,3,$114.00,"$9,425.00"
1250,9,NaN,33,"$492,500.00",24,23,8,7,33,0,...,11,1,33,0,0,0,33,0,$109.00,$545.00
1251,9,Vista,30,"$476,250.00",22,22,6,5,29,1,...,3,0,30,0,0,0,30,0,...,...
1252,9,Carlsbad,135,"$3,557,500.00",126,125,7,6,135,0,...,3,0,134,0,1,0,135,0,$217.00,"$1,300.00"
1253,1,San Marcos,0,$0.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,$-,$-
1254,1,NaN,298,"$5,170,000.00",237,230,51,50,294,4,...,19,3,295,0,3,0,297,1,$136.00,"$5,990.00"
1255,1,Vista,11,"$290,000.00",9,9,1,1,11,0,...,0,0,11,0,0,0,11,0,...,...
1256,2,NaN,96,"$1,403,750.00",68,66,27,26,96,0,...,9,3,96,0,0,0,96,0,$120.00,"$2,520.00"
1257,2,NaN,112,"$1,143,000.00",69,66,36,36,105,7,...,15,11,110,0,2,0,111,1,$90.00,"$3,230.00"
1258,2,Vista,35,"$735,000.00",27,27,8,8,35,0,...,2,1,35,0,0,0,35,0,$150.00,"$1,050.00"
1259,3,NaN,99,"$1,102,500.00",78,78,17,16,72,4,...,8,1,99,0,0,0,98,1,$99.00,"$1,380.00"
1260,3,NaN,89,"$1,518,750.00",60,59,24,24,76,13,...,6,4,89,0,0,0,89,0,$106.00,"$2,335.00"
1261,9,NaN,138,"$2,729,750.00",99,97,33,32,132,6,...,7,3,136,0,2,0,136,2,$153.00,"$2,915.00"
1262,9,NaN,224,"$3,727,500.00",183,180,34,33,180,10,...,5,1,222,0,2,0,223,1,$116.00,"$3,480.00"
1263,9,Vista,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,...