In [3]:
import numpy as np
import pandas as pd 
from datascience import *

%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')


housing = pd.read_csv('SD1970_housing.csv', thousands = ',')
population = pd.read_csv('SD1970_population.csv',thousands = ',')

population

,Census Tract Name,Block Group,Place Name,Total persons,Male persons age under 5 years,Male persons age 5 years,Male persons age 6 years,Male persons age 7-9 years,Male persons age 10-13 years,Male persons age 14 years,...,"Husband-wife family members 65 and over, none under 18",Husband-wife family members under 18 and 65 and over,Other family with male head no members under 18 or 65 and over,"Other family with male head members under 18, none 65 and over","Other family with male head members 65 and over, none under 18",Other family with male head members under 18 and 65 and over,Family with female head no members under 18 or 65 and over,"Family with female head members under 18, none 65 and over","Family with female head members 65 and over, none under 18",Family with female head members under 18 and 65 and over
0,Census Tract 1,1,San Diego,901,31,6,9,29,32,9,...,2,3,2,0,3,0,6,15,5,1
1,Census Tract 1,2,San Diego,683,28,2,9,14,21,6,...,3,5,0,1,1,1,6,17,6,0
2,Census Tract 1,3,San Diego,532,18,4,4,15,26,6,...,2,2,1,1,0,1,5,5,2,0
3,Census Tract 1,4,San Diego,421,9,3,5,5,7,3,...,0,1,0,1,0,0,5,4,2,0
4,Census Tract 1,5,San Diego,489,12,2,4,6,13,4,...,4,1,1,1,0,0,6,6,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1259,Census Tract 199,3,NaN,271,5,1,0,9,16,2,...,3,3,0,0,0,0,1,3,0,0
1260,Census Tract 199,3,NaN,259,4,5,2,9,6,4,...,1,1,1,1,0,0,0,4,1,0
1261,Census Tract 199,9,NaN,444,14,2,3,21,19,3,...,0,1,1,1,0,0,0,5,3,0
1262,Census Tract 199,9,NaN,550,12,1,4,8,17,6,...,2,0,2,1,0,1,0,8,0,0
1263,Census Tract 199,9,Vista,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:

population = pd.read_csv('SD1970_population.csv',thousands = ',')

#A duplicate dataframe
populationCopy = population

populationCopy = populationCopy.replace('...',np.nan)


"""
This function is designed specifically for the population dataset.

It takes in:
1. Name of the leftmost column you want to merge
2. Name of the rightmost column you want to merge
3. New name of the merged column.

It merges everything in place.

"""
def ageMerge(left_name, right_name, new_name):
    i = populationCopy.columns.get_loc(left_name)
    j = populationCopy.columns.get_loc(right_name) + 1
    populationCopy[left_name] = populationCopy.iloc[:,i:j].astype(float).sum(axis=1)
    populationCopy.rename(columns = {left_name: new_name},inplace = True)
    populationCopy.drop(populationCopy.iloc[:, i+1:j], inplace = True, axis = 1)

ageMerge('Male persons age 5 years', 'Male persons age 22-24 years', 'Male persons 5-24 years')

ageMerge('Male persons age 25-34 years', 'Male persons age 35-44 years', 'Male persons 25-44 years')

ageMerge('Male persons age 45-54 years', 'Male persons age 62-64 years', 'Male persons 45-64 years')



populationCopy

,Census Tract Name,Block Group,Place Name,Total persons,Male persons age under 5 years,Male persons 5-24 years,Male persons 25-44 years,Male persons 45-64 years,Male persons age 65-74 years,Male persons age 75 and over,...,"Husband-wife family members 65 and over, none under 18",Husband-wife family members under 18 and 65 and over,Other family with male head no members under 18 or 65 and over,"Other family with male head members under 18, none 65 and over","Other family with male head members 65 and over, none under 18",Other family with male head members under 18 and 65 and over,Family with female head no members under 18 or 65 and over,"Family with female head members under 18, none 65 and over","Family with female head members 65 and over, none under 18",Family with female head members under 18 and 65 and over
0,Census Tract 1,1,San Diego,901,31,147.0,87.0,90.0,30,20,...,2,3,2,0,3,0,6,15,5,1
1,Census Tract 1,2,San Diego,683,28,104.0,59.0,74.0,19,16,...,3,5,0,1,1,1,6,17,6,0
2,Census Tract 1,3,San Diego,532,18,88.0,47.0,65.0,17,14,...,2,2,1,1,0,1,5,5,2,0
3,Census Tract 1,4,San Diego,421,9,53.0,33.0,68.0,25,9,...,0,1,0,1,0,0,5,4,2,0
4,Census Tract 1,5,San Diego,489,12,55.0,51.0,64.0,18,12,...,4,1,1,1,0,0,6,6,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1259,Census Tract 199,3,NaN,271,5,41.0,22.0,36.0,18,6,...,3,3,0,0,0,0,1,3,0,0
1260,Census Tract 199,3,NaN,259,4,49.0,27.0,34.0,9,4,...,1,1,1,1,0,0,0,4,1,0
1261,Census Tract 199,9,NaN,444,14,72.0,58.0,54.0,23,12,...,0,1,1,1,0,0,0,5,3,0
1262,Census Tract 199,9,NaN,550,12,72.0,40.0,82.0,37,27,...,2,0,2,1,0,1,0,8,0,0
1263,Census Tract 199,9,Vista,6,0,0.0,0.0,1.0,2,0,...,0,0,0,0,0,0,0,0,0,0