In [7]:
import numpy as np
import pandas as pd 
from datascience import *

%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')


housing = pd.read_csv('SD1970_housing.csv', thousands = ',')
population = pd.read_csv('SD1970_population.csv',thousands = ',')

population

,Census Tract Name,Block Group,Place Name,Total persons,Male persons age under 5 years,Male persons age 5 years,Male persons age 6 years,Male persons age 7-9 years,Male persons age 10-13 years,Male persons age 14 years,...,"Husband-wife family members 65 and over, none under 18",Husband-wife family members under 18 and 65 and over,Other family with male head no members under 18 or 65 and over,"Other family with male head members under 18, none 65 and over","Other family with male head members 65 and over, none under 18",Other family with male head members under 18 and 65 and over,Family with female head no members under 18 or 65 and over,"Family with female head members under 18, none 65 and over","Family with female head members 65 and over, none under 18",Family with female head members under 18 and 65 and over
0,Census Tract 1,1,San Diego,901,31,6,9,29,32,9,...,2,3,2,0,3,0,6,15,5,1
1,Census Tract 1,2,San Diego,683,28,2,9,14,21,6,...,3,5,0,1,1,1,6,17,6,0
2,Census Tract 1,3,San Diego,532,18,4,4,15,26,6,...,2,2,1,1,0,1,5,5,2,0
3,Census Tract 1,4,San Diego,421,9,3,5,5,7,3,...,0,1,0,1,0,0,5,4,2,0
4,Census Tract 1,5,San Diego,489,12,2,4,6,13,4,...,4,1,1,1,0,0,6,6,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1259,Census Tract 199,3,NaN,271,5,1,0,9,16,2,...,3,3,0,0,0,0,1,3,0,0
1260,Census Tract 199,3,NaN,259,4,5,2,9,6,4,...,1,1,1,1,0,0,0,4,1,0
1261,Census Tract 199,9,NaN,444,14,2,3,21,19,3,...,0,1,1,1,0,0,0,5,3,0
1262,Census Tract 199,9,NaN,550,12,1,4,8,17,6,...,2,0,2,1,0,1,0,8,0,0
1263,Census Tract 199,9,Vista,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [129]:

population = pd.read_csv('SD1970_population.csv',thousands = ',')



"""
columnsM = ['Male persons age under 5 years','Male persons age 5 years','Male persons age 6 years','Male persons age 7-9 years','Male persons age 10-13 years','Male persons age 14 years','Male persons age 15 years','Male persons age 16 years','Male persons age 17 years','Male persons age 18 years','Male persons age 19 years','Male persons age 20 years','Male persons age 21 years','Male persons age 22-24 years','Male persons age 25-34 years','Male persons age 35-44 years','Male persons age 45-54 years']
for i in columnsM:
    population[i] = pd.to_numeric(population[i])
population['Male persons age 6 years'] = population['Male persons age 5 years']+population['Male persons age 6 years']+population['Male persons age 7-9 years']+population['Male persons age 10-13 years']+population['Male persons age 14 years']+population['Male persons age 15 years']+population['Male persons age 16 years']+population['Male persons age 17 years']+population['Male persons age 18 years']+population['Male persons age 19 years']+population['Male persons age 20 years']+population['Male persons age 21 years']+population['Male persons age 22-24 years']
population = population.drop(columns=['Male persons age 5 years','Male persons age 7-9 years','Male persons age 10-13 years','Male persons age 14 years','Male persons age 15 years','Male persons age 16 years','Male persons age 17 years','Male persons age 18 years','Male persons age 19 years','Male persons age 20 years','Male persons age 21 years','Male persons age 22-24 years'])
population.rename(columns={'Male persons age 6 years': 'Male persons age 5-24 years'},inplace=True)



columnsF = ['Female persons age under 5 years','Female persons age 5 years','Female persons age 6 years','Female persons age 7-9 years','Female persons age 10-13 years','Female persons age 14 years','Female persons age 15 years','Female persons age 16 years','Female persons age 17 years','Female persons age 18 years','Female persons age 19 years','Female persons age 20 years','Female persons age 21 years','Female persons age 22-24 years']
for i in columnsF:
    population[i] = pd.to_numeric(population[i])
population['Female persons age 6 years'] = population['Female persons age 5 years']+population['Female persons age 6 years']+population['Female persons age 7-9 years']+population['Female persons age 10-13 years']+population['Female persons age 14 years']+population['Female persons age 15 years']+population['Female persons age 16 years']+population['Female persons age 17 years']+population['Female persons age 18 years']+population['Female persons age 19 years']+population['Female persons age 20 years']+population['Female persons age 21 years']+population['Female persons age 22-24 years']
population = population.drop(columns=['Female persons age 5 years','Female persons age 7-9 years','Female persons age 10-13 years','Female persons age 14 years','Female persons age 15 years','Female persons age 16 years','Female persons age 17 years','Female persons age 18 years','Female persons age 19 years','Female persons age 20 years','Female persons age 21 years','Female persons age 22-24 years'])
population.rename(columns={'Female persons age 6 years': 'Female persons age 5-24 years'},inplace=True)
"""

onlyNumerical = population.drop(['Census Tract Name', 'Place Name'], axis=1)

onlyNumerical = onlyNumerical.replace('...',np.nan)


onlyNumerical["Male persons age 6 years"] = onlyNumerical.iloc[:,3:16].astype(float).sum(axis=1)
onlyNumerical.rename(columns={'Male persons age 6 years': 'Male persons age 5-24 years'},inplace=True)
onlyNumerical.drop(onlyNumerical.iloc[:, 5:16], inplace = True, axis = 1)



onlyNumerical['Male persons age 25-34 years'] = onlyNumerical.iloc[:,5:7].astype(float).sum(axis=1)
onlyNumerical.rename(columns={'Male persons age 25-34 years': 'Male persons age 25-44 years'},inplace=True)
onlyNumerical.drop(onlyNumerical.iloc[:, 6:7], inplace = True, axis = 1)

onlyNumerical['Male persons age 45-54 years'] = onlyNumerical.iloc[:,6:11].astype(float).sum(axis=1)
onlyNumerical.rename(columns={'Male persons age 45-64 years': 'Male persons age 45-54 years'},inplace=True)
onlyNumerical.drop(onlyNumerical.iloc[:, 7:10], inplace = True, axis = 1)


onlyNumerical

,Block Group,Total persons,Male persons age under 5 years,Male persons age 5 years,Male persons age 5-24 years,Male persons age 25-44 years,Male persons age 45-54 years,Male persons age 65-74 years,Male persons age 75 and over,Female persons age under 5 years,...,"Husband-wife family members 65 and over, none under 18",Husband-wife family members under 18 and 65 and over,Other family with male head no members under 18 or 65 and over,"Other family with male head members under 18, none 65 and over","Other family with male head members 65 and over, none under 18",Other family with male head members under 18 and 65 and over,Family with female head no members under 18 or 65 and over,"Family with female head members under 18, none 65 and over","Family with female head members 65 and over, none under 18",Family with female head members under 18 and 65 and over
0,1,901,31,6,147.0,87.0,120.0,30,20,34,...,2,3,2,0,3,0,6,15,5,1
1,2,683,28,2,104.0,59.0,93.0,19,16,23,...,3,5,0,1,1,1,6,17,6,0
2,3,532,18,4,88.0,47.0,82.0,17,14,12,...,2,2,1,1,0,1,5,5,2,0
3,4,421,9,3,53.0,33.0,93.0,25,9,11,...,0,1,0,1,0,0,5,4,2,0
4,5,489,12,2,55.0,51.0,82.0,18,12,17,...,4,1,1,1,0,0,6,6,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1259,3,271,5,1,41.0,22.0,54.0,18,6,8,...,3,3,0,0,0,0,1,3,0,0
1260,3,259,4,5,49.0,27.0,43.0,9,4,13,...,1,1,1,1,0,0,0,4,1,0
1261,9,444,14,2,72.0,58.0,77.0,23,12,13,...,0,1,1,1,0,0,0,5,3,0
1262,9,550,12,1,72.0,40.0,119.0,37,27,9,...,2,0,2,1,0,1,0,8,0,0
1263,9,6,0,0,0.0,0.0,3.0,2,0,0,...,0,0,0,0,0,0,0,0,0,0